<h2 class="sub_headline">{{ 'eimed.system_info.hardware_info'|trans }}</h2>

<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.hardware_server_model'|trans }}:</strong> {{ hardwareInfo.getServerModel }}
</div>
<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.hardware_architecture'|trans }}:</strong> {{ hardwareInfo.getArchitecture }}
</div>
<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.hardware_cpus'|trans }}:</strong>
    {% for cpu in hardwareInfo.getCpus %}
        <div>{{ loop.index }}. {{ cpu.Vendor }} ({{ cpu.Model }})</div>
    {% endfor%}
</div>
<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.hardware_ram_total'|trans }}:</strong> {{ hardwareInfo.getRamTotalInGiB }} GiB
</div>
<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.hardware_swap_total'|trans }}:</strong> {{ hardwareInfo.getSwapTotalInGiB }} GiB
</div>
