<h2 class="sub_headline">{{ 'eimed.system_info.os_info'|trans }}</h2>

<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.os'|trans }}:</strong> {{ osInfo.getOs }}
</div>
<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.os_distro'|trans }}:</strong> {{ osInfo.getDistroName }} {{ osInfo.getDistroVersion }}
</div>
<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.os_kernel'|trans }}:</strong> {{ osInfo.getKernel }}
</div>
