<div class="w50">
    <h2 class="sub_headline">{{ 'eimed.system_info.system_load_info'|trans }}</h2>

    <div class="tl_tbox">
        <strong>{{ 'eimed.system_info.system_load_1_minute'|trans }}:</strong> <span id="system_load_last_1_minute">{{ systemLoadInfo.getLast1Minute }}</span>
    </div>
    <div class="tl_tbox">
        <strong>{{ 'eimed.system_info.system_load_5_minutes'|trans }}:</strong> <span id="system_load_last_5_minutes">{{ systemLoadInfo.getLast5Minutes }}</span>
    </div>
    <div class="tl_tbox">
        <strong>{{ 'eimed.system_info.system_load_15_minutes'|trans }}:</strong> <span id="system_load_last_15_minutes">{{ systemLoadInfo.getLast15Minutes }}</span>
    </div>
</div>

<div class="w50">
    <div class="tl_tbox">
        <div id="system_info_load_graph">
            <div id="system_info_load_graph_inner"></div>
        </div>
    </div>
</div>
