<h2 class="sub_headline">{{ 'eimed.system_info.host_info'|trans }}</h2>

<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.host_name'|trans }}:</strong> {{ hostInfo.getHostname }}
</div>
<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.host_accessed_ip'|trans }}:</strong> {{ hostInfo.getAccessedIP }}
</div>
<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.host_uptime'|trans }}:</strong> {{ hostInfo.getUptime }}
</div>
