<h2 class="sub_headline">{{ 'eimed.system_info.virtualization_info'|trans }}</h2>

<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.virtualization_method'|trans }}:</strong> {{ virtualizationInfo.getMethod }}
</div>
<div class="tl_tbox">
    <strong>{{ 'eimed.system_info.virtualization_type'|trans }}:</strong> {{ virtualizationInfo.getType }}
</div>
